.card{
    width: 280px;
    height: 400px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(98,29,209,255);
    margin: 20px;
    
    
    .upperContainer{
        height: 85px;
        background: linear-gradient(to right,rgba(98,29,209,255) , rgba(97,105,255,255));
        border-radius: 15px 15px 0 0;
        
        
    }

    .passEmoji {
        background: white ;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        padding: 5px;
        transform: translate(95px,35px);
        
        
    }

    .passEmoji h1{
        background: transparent;
        font-size: 50px;
        margin: -1px;
        
    }

    .lowerContainer{
        margin-top:  30px;
        height: 100px;
        background:white;
        text-align: center;
        padding:0 5px 0;
    }
    .lowerContainer h3{
        color:#8e00a1;
        font-size: 1.5em;
    }


    
}
.cardApp{
        display: flex;
        justify-content: center;
        width: 100%;
        background: rgba(232,234,250,255)
        
    
        
    }