*{
  color-scheme: primary rgb(79, 79, 193);
  color-scheme: secondary white;
  color-scheme: third  pink;
}

.homeSection{
  background-color: rgb(75, 75, 202);
  width: 100%;
  height: 80vh;
  border: 1px;
  margin: 0;
  


 h1{
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 2px;
  font-size: 65px;
  font-family: monospace;
  font-weight: 900;
  
}
p{
  font-size: 40px;
  text-align: center;
  color: aliceblue;
}
.homeLogo {
  position: relative;
  left: 3em;
display: flex;
height: 300px;
width: 400px;
margin: auto;


}

.homeADDbtn {
  position: relative;
  bottom: 20em;
  display:flex;
  margin-left: 10px;
  margin-bottom: 20em;
  width: 200px;
  height: 200px;
 justify-content: center;
}

.homeAutBtn a{
  position: relative;
  bottom: 53.5em;
  display:flex;
  margin-right: 10px;
  margin-bottom: 80em;
  width: 200px;
  height: 200px;
 justify-content: center;
 float: right;
 display: flex;
 
}
}
.homeADHD{
  background:linear-gradient(rgb(7, 221, 221),rgb(48, 140, 210));
  width: 100%;
  height: 80vh;
  border: 1px;
  margin: 0.5;

}
.homeADHD a{
  display: flex;
  justify-content: center;
  margin-right: 5em;
  padding-top: 2em;
  font-size: 45px;
  font-family: monospace;
}
.HOmeADHDULP {
  padding: 1px;
  position: relative;
  right: 5em;
  text-align: center;
  font-size: 25px;
  
}

.ADPageIMG{
  justify-content: center;
   margin: auto;
   position: relative;
   display: flex;
   width: 400px

  
}

.homeAutism{
  background: linear-gradient( rgb(85, 201, 240),rgb(10, 147, 244));
  width: 100%;
  height: 80vh;
  border: 1px;
  margin: 0;
}
.homeAutism a {
  font-family: monospace;
  position: relative;
  left: 1em;
  bottom: 2em;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 3em;
  font-size: 45px
  

}
.AUThomepara{
  position: relative;
  left: 1em;
  bottom: 3em;
 font-size: 25px;
  position: relative;
  right: 2em;
  text-align: center;
}
.AUtimgHomP{
  justify-content: center;
   margin: auto;
   position: relative;
   display: flex;
   width: 300px

}

.homeParent{
  background: linear-gradient(rgb(123, 62, 245),rgb(114, 25, 248));
  width: 100%;
  height: 80vh;
  border: 1px;
  margin: 0;
  justify-content: right;
}
.homeParent a {
  display: flex;
  justify-content: center;
  // margin-right: 10em;
  padding-top: 5em;
  font-size: 35px;
}