*{
    color-scheme: primary rgb(79, 79, 193);
    color-scheme: secondary white;
    color-scheme: third  pink;
}

.homeSection{
    background-color: rgb(75, 75, 202);
    width: 100%;
    height: 100vh;
    border: 1px;
    margin: 0;
    justify-content: right;

}
.homeSection h1{
    padding-top:65px;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
.homeSection p{
    text-align: center;
}
.homeAdhd a{
    text-align: left;
    justify-content: center;
    padding-left: 60px;

    
}
 .homeAutism {

    padding-right: 60px;
    margin: auto;
    text-align: right;
    justify-content: center;
   

  }

