.adhdvideo{

  color: rgb(44, 29, 209);
   
  h1{
    background: linear-gradient(to right,rgb(10, 147, 244),rgb(85, 201, 240));
    font-size: 3rem;
    color: white;
    text-shadow:1px 1px 2px rgb(44, 29, 209);
    text-align: center;
    width: auto;
    margin-left: 33%;
    margin-right: 33%;
    box-shadow: 1px 2px 2px rgb(44, 29, 209),
                3px 3px 5px black; 
    border-radius: 10px;
    }

    h2{
      font-size: 2rem;
      text-align: center;
      width: auto;
      justify-content: right;
      } 

    iframe{
      justify-content: center;
      margin: auto;
      padding: 15px;
      background: rgb(156, 209, 244);
      box-shadow: 0px 1px 1px rgb(98,209,255),
                3px 3px 5px black; 
      border-radius: 10px;
      }  

    .videomain{
      width: 100%;
      height: 300px;
      background: linear-gradient(to right,rgb(10, 147, 244),rgb(85, 201, 240));
      display: flex;
      justify-content: space-around;
      }

   .banner{
      display: flex;
      padding: 100px 0;
      color: white;
      font-size: 4rem;
      text-shadow:1px 1px 2px rgb(44, 29, 209);
      }

   .logo{
      display: inline-flex;   
      margin-top: 50px;
      height: 200px;
      width: 200px;
      }      

   .adhdSection{
    display: flex;
    width: 100%;
    height: 60%;
    margin-bottom: 5%;
    justify-content: center;
    padding: 1px;
    }

   .adhdvideos{
    flex-direction: row;
    padding: 2%;
    justify-content: center;
    }

   .adhdtedxSection{
    display: flex;
    width: 100%;
    height: 60%;
    margin-bottom: 5%;
    justify-content: center;
    padding: 1px;
    }

   .adhdtedxvideos{
    flex-direction: row;
    padding: 2%;
    }

   .adhdorganizeSection{
    display: flex;
    width: 100%;
    height: 60%;
    margin: 0;
    justify-content: center;
    padding: 1px;
    }

   .adhdorganizevideos{
    flex-direction: row;
    padding: 2%;
    }

}
