<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>personal page</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Welcome Back @<span th:text="${userLogin}"></span></h1>

</a>
<h4>Click the image Below To Navigate to the Website</h4>
<a>
    <a href="http://localhost:3000/" ><img src="/css/images/Home.png" alt="home"></a>
</a>
</body>
</html>