.quotesText h3{
    font-size: 60px;
    display: flex;
    justify-content: center;

}

.quotesText div{
    margin: 2rem 60em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 650px;
    height: 600px;
    padding: 15px;
    background-color: rgb(148, 156, 230);
    box-shadow: 10px 10px;
}
.quotesText div h1{
    font-size: 45px;
    display: flex;
    justify-content: center;
}
.quotesText div img{
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    position: relative;
}
.quotesText div p{
    margin: 3.5rem;
    font-size: 22px;

}