.quotesDiv {
    width: 100% !important;
}

.quotesText h3{
    font-size: 60px;
    text-align: center;
}

.quotesGrid {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: auto 30px;
}


.quotesGrid div{
    // margin: 2rem 60em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 650px;
    height: 600px;
    padding: 15px;
    background-color: rgb(148, 156, 230);
    box-shadow: 10px 10px;
}

.quotesGrid div h1{
    font-size: 45px;
}

.quotesGrid div img{
    width: 400px;
    height: 350px;
}

.quotesGrid div p{
    margin: 3.5rem;
    font-size: 22px;
    animation-duration: 25s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: anim-text;
}
// @keyframes anim-text{
//     0%, 8.3% { left: -100%; opacity: 0; }
//     8.3%, 25% { left: 25%; opacity: 1; }
//     33.33%, 100% { left: 110%; opacity: 0; }
// }

// .slide{
//     animation: slide 25s infinite;
//     position: absolute;
//     opacity: 0;
//     background-size: cover;
// }
//Add a keyframes to my movies to create my slideshow. thats what was messing me up.

@keyframes slide{
    from {opacity: .4}
    to {opacity: 1}
}
.moviesSection img{
    width: 600px;
    height: 450px;
    box-shadow: 10px 10px;
    padding: 10px;
    border: 3px solid black;
    color: rgb(75, 75, 202);
    animation: movies 25s infinite;
}
.moviesSection h3{
    font-size: 60px;
    display: flex;
    justify-content: center;
}
@media (max-width: 800px) {
    .quotesText div {
        flex-direction: column;
    }
}