.fidget{
    animation: 1.5s spin infinite ;

  }
  @keyframes spin {
    0%{
      transform: translate(0vh ); rotate: 160deg;
    }
    50%{
      transform: translate(0 ); rotate: -360deg;
    }
    100%{
      transform: translate(0 ); rotate: 360deg;
    }
   
    
  }