body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #03a9f4;
  opacity: 0.8;
}

.form {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 400px;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
  padding: 50px;
  box-sizing: border-box;
}

.form h2 {
  color: #777;
  margin: 0 0 40px;
  padding: 0;
}

.form .input-box {
  position: relative;
  margin: 20px 0;
}

.form .input-box input {
  width: 100%;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #777;
  outline: none;
  padding: 10px;
  padding-left: 30px;
  box-sizing: border-box;
  font-weight: bold;
  color: #777;
}
img{
  position:relative;
  left: 38%;
  height: 25%;
  width: 25%;
  margin-top: 30px;
}

.form .input-box input:focus,
.form .input-box input:valid {
  border-bottom-color: #03a9f4;
}

.form .input-box .fa {
  position: absolute;
  top: 8px;
  left: 5px;
  font-size: 18px;
  color: #777;
}

.form .input-box input[type="submit"] {
  border: none;
  cursor: pointer;
  background-color: #03a9f4;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}

.form .input-box input[type="submit"]:hover {
  background-color: #ff4987;
}

.form a {
  text-decoration: none;
  color: #777;
  margin-top: 20px;
  font-weight: bold;
  display: inline-block;
  transition: 0.5s;
}

.form a:hover {
  color: #ff4987;
}
h1{
text-align: center;
}

h4{
text-align: center;
}

p {
text-align: center;
}

h1{
  position:relative;
    left: 2%;
    margin-top: 10px;
    background-image: linear-gradient(to right, violet, blue, rgb(9, 235, 243), purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

span{
    position: relative;
   
    background-image: linear-gradient(to right, rgb(0, 255, 234), blue, rgb(73, 231, 252));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

